<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Reusable wheel link -->
  <xacro:macro name="wheel_link" params="prefix">
    <link name="${prefix}_wheel_link">
      <visual>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <!-- Cylinder axis Z -> rotate to Y for wheel -->
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <material name="gray"/>
      </visual>
    </link>
  </xacro:macro>

  <!-- Reusable wheel joint -->
  <xacro:macro name="wheel_joint" params="prefix x y z">
    <joint name="base_${prefix}_wheel_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${prefix}_wheel_link"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

</robot>
